

canvas {
  margin: 0 auto;
}

canvas:focus {
  outline: none;
}

.short-desc {
    font-style: italic;
}

#video {
    font-weight: bold;
}

.well-white {
    background-color: white;
}

body {
    background: url('images/bg-white.png') repeat;
}